<?xml version="1.0"?>
<config>
    <modules>
        <SM_Customvalidate>
            <version>0.1.0</version>
        </SM_Customvalidate>
    </modules>
    <global>
        <models>
            <customvalidate>
                <class>SM_Customvalidate_Model</class>
                <resourceModel>customvalidate_resource</resourceModel>
            </customvalidate>
            <customvalidate_resource>
                <class>SM_Customvalidate_Model_Resource</class>
            </customvalidate_resource>
        </models>
        <blocks>
            <customvalidate>
                <class>SM_Customvalidate_Block</class>
            </customvalidate>
        </blocks>
        <helpers>
            <customvalidate>
                <class>SM_Customvalidate_Helper</class>
            </customvalidate>
        </helpers>
    </global>
    <frontend>
        <routers>
            <customvalidate>
                <use>standard</use>
                <args>
                    <module>SM_Customvalidate</module>
                    <frontName>customvalidate</frontName>
                </args>
            </customvalidate>
        </routers>
        <layout>
            <updates>
                <customvalidate>
                    <file>sm/customvalidate.xml</file>
                </customvalidate>
            </updates>
        </layout>
    </frontend>
</config>